
<div class="info">
  <h3>Contact info</h3>
  <p>Phone number: (214)507-6230</p>
  <p>Email: Junaid@SkyHouseEvent.com</p>
  <p>Location: Dallas/Fortworth metroplex</p>
</div>
<p>
  When submitting a message please include <strong>Email, Name, and a best contact number</strong>.
</p>
<div class="fb-page" data-href="https://www.facebook.com/SkyHouseEvents/photos//?ref=page_internal"
                    data-tabs="messages"
                    data-small-header="true"
                    data-width="400"
                    data-height="300"
                    data-adapt-container-width="true"
                    data-hide-cover="false"
                    data-show-facepile="false">
                    <blockquote cite="https://www.facebook.com/SkyHouseEvents/photos//?ref=page_internal"
                                class="fb-xfbml-parse-ignore">
                                <a href="https://www.facebook.com/SkyHouseEvents/photos//?ref=page_internal">Sky House Event</a>
                    </blockquote>
</div>
