<script>
  $(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>
<div class="info">
  <h3>Contact info</h3>
  <p>Phone number: (214)507-6230</p>
  <p>Email: Junaid@SkyHouseEvent.com</p>
  <p>Location: Dallas/Fortworth metroplex</p>
</div>
  <div class="fb-page" data-href="https://www.facebook.com/SkyHouseEvents/photos//?ref=page_internal" data-tabs="messages" data-small-header="true" data-width="400" data-height="300" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="false"><blockquote cite="https://www.facebook.com/SkyHouseEvents/photos//?ref=page_internal" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/SkyHouseEvents/photos//?ref=page_internal">Sky House Event</a></blockquote></div>
