<div class="container">
  <div id="content" class="col-xs-2">
  </div>

  <div id="content" class="col-xs-8">
    <iframe src="//users.instush.com/mini/?user_id=1367505202&username=skyhouseevents&sid=-1&susername=-1&tag=-1&stype=mine&t=999999EKmPo5vXtsP-ELERi5KLpvCcakjY8LJWhKCLUjsV7yBeGthVVi1K_HAVd26WWUo9sLBo9Axf_XM" allowtransparency="true" frameborder="0" scrolling="no"  style="display:block;width:800px;height:612px;border:none;overflow:visible;" ></iframe>
  </div>
  <div id="content" class="col-xs-1">
  </div>
</div>
