<div class="my-container ">
  <div class="jumbotron">
    <h1>Sky House Event</h1>
    <p>A full service decor company for any event</p>
    <p>
      <div class="">
        <form class="" action="/welcome" method="post">
          <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
          <input type="email" name="user[email]" placeholder="Emails">
          <input type="submit" name="name" value="Enter">
        </form>
      </div>
    </p>
  </div>
</div>
